.project-card {
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    height: 500px;
    padding: 20px;
    text-align: center;
    background-color: #4DD0E1;
}

.project-card:hover {
  transform: translateY(-20px);
}

.project-card h2 {
    font-size: 1.8rem;
    margin: 10px 0;
    color: var(--clr-text-primary);
}

.project-card p {
    font-size: 1.2rem;
    color: #455A64;
}

.image {
    width: 90%;
    height: 200px;
    margin: 0px;
    justify-self: center;

    background-color: #05051A;
}
