.certificate-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    margin: 0 50px;
    border-radius: 10px;
}

.certificate-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--clr-text-primary);
    border-bottom: 2px solid #263238;
}

.certificate-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
}
