.contacts-section {
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00bfff;
    max-width: 80vw;
    padding: 90px 0;
}

.contacts-grid {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem;
}

.contacts-title {
    color: #263238;
    font-size: 2rem;
    margin: 1rem 0;
}

@media (max-width: 1100px) {
    .contacts-title {
        font-size: 1.5rem;
    }
    .contacts-grid {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
    }
}