@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.header-section {
    display: flex;
    justify-content: center;
}

.profilePic {
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    margin: 15px;
}

.header-container {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    max-width: 80vw;
    width: 80vw;
}   

.header-title {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 50px;
}

.header-container h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--clr-text-primary);
}

.header-container h2 {
    font-size: 2rem;
    margin: 0;
    color: var(--clr-text-secondary);
}

.header-buttons-container {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.myResume {
    background-color: #4DD0E1;
    height: 60px;
    width: 250px;
    border-radius: 10px;
    border: 4px;
    font-size: 1.5rem;
    margin: 5px 10px;
    transition: color 0.4s ease;
}

.myResume:hover {
    background-color: #26C6DA;
    color: #ffffff;
    height: 60px;
    width: 250px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 5px 10px;
}

@media (max-width: 1100px) {
    .header-container h1 {
        font-size: 2rem;
    }
    .header-container h2 {
        font-size: 1rem;
    }
    .myResume{
        height: 50px;
        width: 150px;
        font-size: 1rem;
    }
}