@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.profilePic {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 15px;
}

.headerContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
}   

.header-title {
    background-color: rgba(255, 255, 255, 0.25); /* translucent white layer */
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 50px;
}

.headerContainer h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--clr-text-primary);
}

.headerContainer h2 {
    font-size: 2rem;
    margin: 0;
    color: var(--clr-text-secondary);
}

.header-buttons-container {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.myResume {
    background-color: #4DD0E1;
    height: 60px;
    width: 250px;
    border-radius: 10px;
    border: 4px;
    font-size: 1.5rem;
    margin: 5px 10px;
    transition: color 0.4s ease;
}

.myResume:hover {
    background-color: #26C6DA;
    color: #ffffff;
    height: 60px;
    width: 250px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 5px 10px;
}