.navBar {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #4DD0E1;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  padding: 1rem 0; 
  min-height: 70px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  position: absolute;
  left: 40px; 
  height: 50px;
  margin: 0px 20px;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 0;
}

.listItems {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 10px 0;
}

.listItems:hover {
  color: #00bfff;
}

.navLinks a {
  display: inline-block;
  color: var(--clr-text-inverted);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navLinks a:hover {
  color: white;
  transform: scale(1.2);
}

.navLinks li {
  list-style: none;
}

/* MOBILE */

.menu-toggle {
  display: none;
  position: absolute;
  right: 25px;
  background: none;
  border: none;
  color: var(--clr-text-inverted);
  cursor: pointer;
  z-index: 1000;
}

/* Mobile view */
@media (max-width: 1100px) {
  .navLinks {
    position: fixed;
    top: 70px;
    right: 0;
    left: auto;
    background-color: rgba(77, 208, 225, 0.95);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    width: 60%;
    height: 100vh;
    gap: 0.8rem;
    padding: 2.5rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .navLinks.open {
    transform: translateX(0);
    margin-top: 0;
  }

  .menu-toggle {
    display: block;
  }

  .navLinks a {
    font-size: 1.2rem;
  }

  .logo {
    left: 20px;
    height: 40px;
    margin: 0px 20px;
  }
}

.navLinks li {
  list-style: none;
  transition: transform 0.2s ease;
}
.navLinks li:hover {
  transform: scale(1.1);
}

body.menu-open::before {
  content: "";
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}