.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E0F7FA;
    padding: 90px;
    width: 100%;
    box-sizing: border-box;
}

.projects-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--clr-text-primary);
    border-bottom: 2px solid #455A64;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
}