.skills-section{
  display: flex;
  justify-content: center;
  background-color: #B2EBF2;
}

.skills-container {
  color: var(--clr-text-primary);
  padding: 90px 0;
  max-width: 60vw;
  text-align: center;
  font-size: 1.5rem;
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #00bfff;
  display: inline-block;
  padding-bottom: 0.3rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.skill-badge {
  background-color: #4DD0E1;
  padding: 0.6rem 1rem;
  border-radius: 999px;
  font-size: 1.25rem;
  transition: all 0.2s ease;
  color: var(--clr-text-primary);
}

.skill-badge:hover {
  background-color: #26C6DA;
  color: #0051ff;
  transform: translateY(-2px);
}

.category-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--clr-text-primary);
}

@media (max-width: 1100px){
  .skills-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .category-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .skill-badge {
    font-size: 0.9rem;
  }

}